<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <!-- reponse has locals as global property which is an object and has views which has title as one of the property to which the value has been set from the server side -->
        <%= locals.title %>;</title>
</head>

<body>
    <h1>Playground</h1>
    <ul>
        <% for(let i=1;i<10;i++){
        %>
            <li>
                <%= i %>
            </li>

            <%
       } %>

    </ul>

    <% if(true){%>

        <h1> Its True</h1>

        <% }else{%>

            <h2> Its False</h2>

            <%}
        
        %>

</body>

</html>